body {
		background-color: #91e5ff;
		display: flex;
}
.images{
	display: flex;
	flex-direction: column;
	width: 45%;
	margin-left: 4rem;
}
#logo {
	justify-content: center;
	width: 50%;
	padding-bottom: 1rem;
}
#profile {
	justify-content: center;
	width: 90%;
	padding-bottom: 2rem;
	margin-left: 0.5rem;
	border-radius:6px;
}
.tweets{
	width: 50%;
}
.input-button{
	display: flex;
  flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
#textInput {
	margin: 0.5rem;
	padding: 0.2rem;
  background-color:#ffffff;
	border-radius:6px;
	border:1px solid #ffffff;
	color:#666666;
	font-family:Arial;
	font-size:14px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
	text-align: left;
}
#tweetButton {
	margin: 1rem;
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 10px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  width: 90px;
  text-align: center;
}
#countDown{
	margin-left: 0.5rem;
	margin-top: 0;
	margin-bottom: 2rem;
	font-family: Arial;
	font-size: 16px;
	color: white;
	font-weight: bold;
}
#tweetOutput {
	display: flex;
	flex-direction: column-reverse
 }
 #feed{
	font-family: Arial;
	font-size: 50px;
	color: white;
	/* color:#91e5ff;
	text-shadow: 10px 10px white;*/
	margin: 0.5rem;
	padding: 1rem;
	flex-wrap: wrap;
}
p{
	font-family: Arial;
	font-size: 14px;
	color:#666666;
	background-color: white;
	border-radius:6px;
	margin: 0.5rem;
	padding: 1rem;
	flex-wrap: wrap;
	width: 100%;
	word-break: break-word;	
}
